.add {
  position: fixed;
  bottom: 15px;
  right: 15px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
  padding: 20px;
  cursor: pointer;
}
